.git
.gitignore
.venv
frontend
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
ENV
env.bak
venv.bak
recordings
.DS_Store
.vscode
nojoin/
docs/
Nojoin.py
README.md
LICENSE
.venv/
.wav
companion/target/
companion/dist/
data/data
