# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
*$py.class

# Environment
/.venv

# Recordings and transcripts directory
/recordings/

# Database file, should be regenerated on first run
/nojoin/nojoin_data.db

# Config file, generated on first run
nojoin/config.json

# Cursor files
*.cursorrules
*.mdc
/.cursor/

#PRD and Todo files
/PRD.md
/TODO.md

# Tools
tools/ffmpeg.exe

# Logs
nojoin/logs/
