fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
asyncpg
celery[redis]
python-multipart
python-jose[cryptography]
passlib[argon2]
aiofiles
requests
httpx
python-dotenv
torch==2.8.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.23.0 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu126
torchcodec==0.7.0 --index-url https://download.pytorch.org/whl/cu126
openai-whisper
pyannote.audio
silero-vad
numpy
pandas
openai
anthropic
gemini-api
alembic
watchdog
